<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="com.dima.traslator" android:versionCode="9" android:versionName="9.0.1">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application android:label="Image_Text_Translator" android:icon="@drawable/icon"></application>
	<application>
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.microsoft.projectoxford.visionsample.fileprovider" android:exported="false" android:grantUriPermissions="true"></provider>
	</application>
</manifest>